<div class="row">
    <button (click)="start()" class="btn btn-primary">Play</button>
    <button (click)="snap()" class="btn btn-info">Live Exteme!</button>              
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h3>
          <video #videoElement [class]="getStyle()" ></video>                                                
          <canvas #canvasElement width="640" height="480" [class]="getSnapStyle()"></canvas>                    
          <video #resultVideoElement  [class]="getResultStyle()" controls></video>                                                          
        </h3>
        </div>
        <div  [class]="getSnapStyle()">
          <h3>What you like the most</h3>
          <input type="radio"  [(ngModel)]="hobby"  placeholder="name" value="Surfing">Surfing<br>
          <input type="radio" [(ngModel)]="hobby" placeholder="name" value="SkyDiving">SkyDiving<br>
          <input type="radio" [(ngModel)]="hobby" placeholder="name" value="Paragliding">Paragliding
      </div>
      <button (click)="liveExtreme()" class="btn btn-info" [class]="getSnapStyle()">Live Extreme!</button>                    
      <button (click)="doShare()" class="btn btn-info" [class]="getResultStyle()">Share!</button>                          
    </div>
  </div>


 

